@model Product

<div class="container">
    <h1 class="mt-4 mb-4">Добавить продукт</h1>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Description"></label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>

    <a asp-action="Index" class="btn btn-secondary mt-3">Назад к списку продуктов</a>
</div>
